
  .top-sellers {
      background-image: linear-gradient(150deg, black, #dfe0dc);
      width: 90vw;
      padding: 1em 0;
      h2 {
          color: white;
          margin-left: 20px;
          font-size: 3em;
      }
  }